.header {
  background-color: grey;
  color: white;
  text-align: left;
  /* padding: 0.5rem; */
  height: 64px;
  padding: 5px 5px;

  margin: 0;
  width: 100%;
  top: 0;
  z-index: 10;
}

#contentnotice {
  font-size: small;
}
